{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<div style="margin-top: 50px; margin-bottom: 50px">
			<a class="btn btn-primary" href="{{ url_for('film_add_wtf') }}" role="button">Nouvelle personne</a>
		</div>
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  prénom
						</th>
						<th class="" >
						  mail
						<th class="" >
						  service
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_personne }}
					  </th>
					  <th class="align-middle">
						{{ row.nom }}
					  </th>
					  <th class="align-middle">
						{{ row.prenom }}
					  </th>
					  <th class="align-middle">
						{{ row.mail_entreprise }}
					  </th>
					  <th class="align-middle">
						{{ row.service }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('film_update_wtf', id_film_btn_edit_html=row.id_personne) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('film_delete_wtf', id_film_btn_delete_html=row.id_personne ) }}" role="button">Delete</a>
					  </th>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
