<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Mon beau projet{% endblock %}</title>

	<!-- Bootstrap CSS en local -->
	<!-- OM 2020.05.04 OM JE PREFERE GARDER MES FICHIERS CSS ET JS DANS UN REPERTOIRE "EN LOCAL"
        SINON ON EST TOUJOURS DEPENDANT D'UNE LIAISON A L'INTERNET. -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js') }}"></script>
	<!-- Stylesheets en local -->
	<!-- https://bootswatch.com/solar/-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/solar/bootstrap.min.css') }}"> -->
	<!-- https://bootswatch.com/darkly/ -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/darkly/bootstrap.min.css') }}"> -->
	<!-- https://bootswatch.com/cyborg/-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/cyborg/bootstrap.min.css') }}"> -->
	<!-- https://bootswatch.com/superhero/ -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/superhero/bootstrap.min.css') }}"> -->

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
	<!-- https://bootswatch.com/vapor/-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/favicon/ -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu/css/templatemo-softy-pinko.css') }}">

	{% block head %}
	{% endblock %}

	<style>
        .button_header{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .nav .has-submenu .sub-menu {
            display: none;
            position: absolute;
            background-color: white;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .nav .has-submenu:hover .sub-menu {
            display: block;
        }

        .sub-menu li {
            padding: 8px 12px;
        }

        .sub-menu li a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>


{% block header %}


<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ url_for('mapageprincipale') }}" class="logo">
                        <img src="{{ url_for('static', filename='menu/images/logo.png') }}" alt="La Ligniere"/>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{{ url_for('mapageprincipale') }}">Accueil</a></li>
                        <li><a href="{{ url_for('genres_afficher', order_by='ASC', id_genre_sel=0) }}">Objets</a></li>
                        <li class="has-submenu">
                            <a href="#">Personnes</a>
                            <ul class="sub-menu">
                                <li><a href="{{ url_for('films_afficher', order_by='ASC', id_film_sel=0) }}">Personnes</a></li>
                                <li><a href="{{ url_for('films_genres_afficher', id_film_sel=0) }}">Personnes/Objets</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}

{% endblock %}


{% block javascript %}

{% endblock %}


    <!-- Plugins -->
    <script src="../static/menu/js/scrollreveal.min.js"></script>
    <!-- Global Init -->
    <script src="../static/menu/js/custom.js"></script>
</body>
</html>


