{% extends "base.html" %}
{% block title %} inventaire informatique {% endblock %}
{% block body %}


   <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="../static/img/cll_header.jpg" alt="Image">
                    <div class="carousel-caption d-flex justify-content-center align-items-center" style="top: -15%;">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Inventaire informatique</h1>
                                </br>
                                    <a href="{{ url_for('genres_afficher', order_by='ASC', id_genre_sel=0) }}" style="margin-left: 1rem !important" class="btn btn-sous-menu py-md-3 px-md-5 me-3">Objets</a>
                                    <a href="{{ url_for('films_afficher', order_by='ASC', id_film_sel=0) }}" style="margin-left: 1rem !important" class="btn btn-sous-menu py-md-3 px-md-5 me-3">Personnes</a>
                                    <a href="{{ url_for('films_genres_afficher', id_film_sel=0) }}" style="margin-left: 1rem !important" class="btn btn-sous-menu py-md-3 px-md-5 me-3">Personnes/Objets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Carousel End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}