{% extends "base.html" %}
{% block title %} inventaire informatique {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				inventaire informatique 15.05.2024
			</h3>
			<h3>
				mesdames et monsieur, BIENVENUE ! <br>
			</h3>
			<ul>
				<li class="list-item">
					entrer supprimer ou editer des donnée sans limites !
				</li>
				<iframe src="https://www.la-ligniere.ch/la-ligniere-et-vous/historique/notre-source/#:~:text=Historique%20de%20La%20Ligni%C3%A8re&text=En%201904%2C%20sous%20l'impulsion,massages%20et%20les%20traitements%20%C3%A9lectriques." title="W3Schools Free Online Web Tutorials" width="100%" height="750"></iframe>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
