#patients {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;
}

#patients td, #patients th {
    border: 1px solid #ddd;
}

#patients tr:nth-child(even){background-color: #f2f2f2;}

#patients tr:hover {background-color: #ddd;}

#patients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #091E3E;
    color: white;
}
